<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>Transaction Details</h1>
    <hr class="my-5">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Transaction Type: <%= transaction.transactionType %></h5>
            <p class="card-text">Amount: $<%= transaction.amount.toFixed(2) %></p>
        </div>
    </div>

    <a href="/transactions/<%= transaction._id %>/edit" class="btn btn-primary">Edit Transaction</a>
    <a href="/transactions" class="btn btn-link">Back to Transactions</a>
</div>

<%- include("../shared/_footer") %>
